<div class="row">
  <div class="card col-md-3 text-center" *ngFor="let fac of faculties">
    <img [src]="fac.FacultyImage" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ fac.FacultyName }}</h5>
      <p class="card-text">
        {{ fac.FacultyEducationQualification }}
      </p>
      <p class="card-text">
        {{ fac.FacultyDesignation }}
      </p>
      <p class="card-text">
        {{ fac.FacultyWorkingSince }}
      </p>
      <p class="card-text">
        {{ fac.FacultyExperience }}
      </p>
    </div>
  </div>
</div>
