<footer>
  <div class="bg-dark">
    <div class="container py-5">
      <div class="row g-4">
        <div class="col-lg col-md-4 col-sm-6">
          <h6 class="fw-bold text-light">WHO WE ARE?</h6>
          <p class="text-light">
            Darshan University - having the foundation of its first Institution
            laid in 2009, and later on, established and consolidated under
            Gujarat Private Universities (Second Amendment) Act of 2021. It is
            one of the leading institutes within Saurashtra that offers Diploma,
            UG, PG and Doctoral Courses.
          </p>
        </div>
        <div class="col-lg col-md-4 col-sm-6">
          <h6 class="fw-bold text-light">Circulars</h6>
          <a
            href="https://play.google.com/store/apps/details?id=com.DParent&hl=en&gl=IN"
            class="hover textsm text-muted"
          >
            Darshan UMS App (Android)
            <br />
          </a>
          <a
            href="https://apps.apple.com/in/app/dparent/id880988731"
            class="hover textsm text-muted"
          >
            Darshan UMS App (iPhone)
            <br />
          </a>
          <a
            href="https://play.google.com/store/apps/details?id=com.dlib&hl=en&gl=IN"
            class="hover textsm text-muted"
          >
            DLib App (Android)
            <br />
          </a>
          <a href="https://gtu.ac.in/" class="hover textsm text-muted">
            GTU Website
            <br />
          </a>
          <a
            href="https://www.darshan.ac.in/newsletter"
            class="hover textsm text-muted"
          >
            News Letters
          </a>
        </div>
        <div class="col-lg col-md-4 col-sm-6">
          <h6 class="fw-bold text-light">FOR OTHERS</h6>
          <a href="http://ijdieret.in/" class="hover textsm text-muted">
            Journal : IJDI-ERET
            <br />
          </a>
          <a href="https://ij.darshan.ac.in/" class="hover textsm text-muted">
            Journal : DIJCM
            <br />
          </a>
          <a
            href="https://darshan.ac.in/engineering/civil/consultancy"
            class="hover textsm text-muted"
          >
            Consultancy - Civil / Environment (CCC)
          </a>
          <br />
          <a
            href="https://darshan.ac.in/engineering/electrical/consultancy"
            class="hover textsm text-muted"
          >
            Consultancy - Electrical (EMC)
            <br />
          </a>
          <a
            href="https://darshan.ac.in/engineering/computer/aswdc"
            class="hover textsm text-muted"
          >
            Software Development - ASWDC
            <br />
          </a>
          <a
            href="https://darshan.ac.in/government-licenses"
            class="hover textsm text-muted"
          >
            Government Licenses & Tie-ups
            <br />
          </a>
          <a
            href="https://darshan.ac.in/Career"
            class="hover textsm text-muted"
          >
            Career
            <br />
          </a>
          <a
            href="http://www.civil-engineering-calculators.com/"
            class="hover textsm text-muted"
          >
            Civil Engineering Calculators
            <br />
          </a>
          <a
            href="https://darshan.ac.in/disclosure"
            class="hover textsm text-muted"
          >
            Disclosure
            <br />
          </a>
          <a
            href="https://darshan.ac.in/U01/Page/UGC-Proforma-Darshan-University.pdf"
            class="hover textsm text-muted"
          >
            UGC Proforma - Darshan University
          </a>
          <h4 class="h6">
            2022 &copy; All Rights Reserved. &nbsp; &nbsp; Terms & Conditions |
            Site Map
          </h4>
        </div>
        <div class="col-lg col-md-4 col-sm-6">
          <h1 class="text-light">Contact Us</h1>
          <form>
            <div class="mb-2">
              <label for="exampleName" class="form-label"> Password </label>
              <input
                type="text"
                class="form-control"
                id="exampleName"
                placeholder="Name"
              />
            </div>
            <div class="mb-2">
              <label for="exampleInputEmail1" class="form-label">
                Email address
              </label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Email"
              />
            </div>
            <div class="mb-2">
              <label for="exampleMessage" class="form-label"> Password </label>
              <input
                type="text"
                class="form-control"
                id="exampleMessage"
                placeholder="Message"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
