<section class="bgImg"></section>
<div class="p-4">
  <h1 class="my-4 text-danger">
    <u> About Darshan University </u>
  </h1>
  <h5 class="font-monospace">
    Darshan University (DU), is a prominent organization offering a broad slate
    of academic programs and professional courses for undergraduate, graduate
    and postgraduate programs in Engineering, Science & Technology. The
    University is located in peaceful and sylvan surroundings with distinctive
    collegiate structure, about 19 km from Rajkot, Gujarat, India. It was
    established as an Engineering Institute in the year 2009, by Shree G. N.
    Patel Education & Charitable Trust with the objective to impart quality
    education and training in various fields of Engineering and Technology. It
    has now been transformed to the DARSHAN UNIVERSITY through an Act by the
    Government of Gujarat under Gujarat State Private Universities (Amendment)
    Act, 2021 (Act no. 15). From its inception, the organization has grown
    steadily and created a unique identity in the field of Engineering &
    Technology by implementing skill and training-based foundation for
    education. The academic environment at the campus creates an ambience to
    promote creativity and exploration of technical skills. Darshan University
    is committed to the generation of knowledge, innovations and its
    contribution towards the development of the Nation.
  </h5>
</div>
<div class="p-4">
  <h1 class="my-4 text-danger">
    <u> Our Motto </u>
  </h1>
  <div class="row">
    <div class="col-lg-3">
      <img
        class="img-fluid w-100 g-mt-25"
        src="https://darshan.ac.in/U01/Page/2---19-06-2021-12-06-29.png"
      />
    </div>
    <h5 class="font-monospace">
      This verse advises us to perform our allocated duty excellently. Kaushalam
      signifies doing work with devotion and without attachment. Such detached
      attitude enhances its values and improves the concentration and skill of
      the worker. If we work with elegance, fortitude, and skill our
      Body-Mind-Soul will co-operate with our hands. Any work becomes valuable
      if carried out with full concentration, dedication, and abilities and also
      helps us to become valuable to others as well as to society.
    </h5>
  </div>
</div>
<div class="p-4">
  <h1 class="my-4 text-secondary">
    <u> Vision </u>
  </h1>
  <p class="fs-5"></p>
  <h5 class="font-monospace">
    To set an innovative & quality culture in academic education with keeping
    dynamic equilibrium to the needs of the society.
  </h5>
</div>
<div class="p-3">
  <h1 class="my-3 text-secondary">
    <u> Mission </u>
  </h1>
  <h5 class="font-monospace">
    To offer qualitative programs with the provision of adequate academic
    flexibility.
  </h5>
  <h5 class="font-monospace">
    To promote qualitative, value-based, and innovative teaching-learning
    culture among faculties and students by involving them in skill development
    activities with ensuring holistic development to its fullest extent.
  </h5>
  <h5 class="font-monospace">
    To create a collaborative environment, open to the free exchange of ideas,
    knowledge, technology, and resources with other academic institutes &
    industries.
  </h5>
</div>
