<div class="container my-4">
  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">
            25 Aug 2022
          </strong>
          <h3 class="mb-0">
            Final year Students of Diploma civil are visited at RJ Concrete
            Plant, Rajkot.
          </h3>
          <a href="#" class="stretched-link"> Continue reading </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="300"
            height="350"
            src="https://darshan.ac.in/U01/Files/Post/1154---27-08-2022-08-12-25.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">
            02 Jul 2022
          </strong>
          <h3 class="mb-0">
            Orientation of 'Competitive Exams Preparation Cell' organized for
            BBA & B.COM Students
          </h3>
          <a href="#" class="stretched-link"> Continue reading </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="300"
            height="350"
            src="https://darshan.ac.in/U01/Files/Post/1144---04-07-2022-12-26-34.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-danger"> 30 Jul 2022 </strong>
          <h3 class="mb-0">
            Astonishing Results Of Diploma Civil 6th Semester - 2022
          </h3>
          <a href="#" class="stretched-link"> Continue reading </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="300"
            height="350"
            src="https://darshan.ac.in/U01/Files/Post/1148---01-08-2022-01-18-09.PNG"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-warning">
            07 May 2022
          </strong>
          <h3 class="mb-0">WWDC21 Swift Student Challenge Award Recipient</h3>
          <a href="#" class="stretched-link"> Continue reading </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="300"
            height="350"
            src="https://darshan.ac.in/U01/Files/Post/1125---07-05-2022-11-15-21.jpeg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-4">
  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">
            07 May 2022
          </strong>
          <h3 class="mb-0">Microsoft Alpha Student Ambassador - 2021</h3>
          <a href="#" class="stretched-link"> Continue reading </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="300"
            height="350"
            src="https://darshan.ac.in/U01/Files/Post/1126---07-05-2022-11-18-53.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">
            09 May 2022
          </strong>
          <h3 class="mb-0">
            4th semester diploma civil students had performed tacheometry field
            survey at village Vijaynagar.
          </h3>
          <a href="#" class="stretched-link"> Continue reading </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="300"
            height="350"
            src="https://darshan.ac.in/U01/Files/Post/1127---12-05-2022-08-08-54.jpeg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-danger"> 18 May 2022 </strong>
          <h3 class="mb-0">Tacheometry Survey Nr. Vijaynagar Village</h3>
          <a href="#" class="stretched-link"> Continue reading </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="300"
            height="350"
            src="https://darshan.ac.in/U01/Files/Post/1142---27-06-2022-10-07-30.jpeg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-warning">
            04 Jul 2022
          </strong>
          <h3 class="mb-0">
            Industrial Visit at Aditi Toys Pvt. Ltd. organized for BBA & B.COM.
            Students
          </h3>
          <a href="#" class="stretched-link"> Continue reading </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            class="bd-placeholder-img"
            width="300"
            height="350"
            src="https://darshan.ac.in/U01/Files/Post/1146---06-07-2022-12-10-22.jpeg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
